{% extends 'base.html' %}
{% load static %}

{% block title %}App Install{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data" class="install-form">
    <h2 style="text-align: center;">Install</h2>
    {% csrf_token %}
    <div class="install-div">
        <span>
            {% if app.app_logo %}
                <img src="../../media/{{app.app_logo }}" width="100px" height="100px">
            {% else %}
                <img src="{% static 'assets/default_app.jpg' %}" width="100px" height="100px">
            {% endif %}
        </span>
        <div class="install-app-detail">
            <span>
                <b>Name:</b> {{ app.name }}
            </span>
            <span>
                <b>Category:</b> {{ app.category }}
            </span>
            <span>
                <b>Sub Category:</b> {{ app.sub_category }}
            </span>
        </div>
        <span class="install-points"><b>Points:</b> {{ app.points }}</span>
    </div>
    <div class="form-div">
        <label for="screenshot">Screenshot:</label><br>
        {{ install_form.screenshot }}
    </div>
    <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}